:root {
  --color-black-header: #282828;
  --color-white: white;
  --color-gray: #b6b6b6;
  --color-blue: #0172cd;
  --color-black: #393939;
  --font-small: 12px;
  --padding-header: 50px;
  --height-header: 95px;
  --height-logo: 70px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

#note {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 110px;
  width: 1000px;
  margin: auto;
  padding: 15px 0px;
  font-size: 15px;
}

.contents {
  margin: auto;
}

li,
br {
  padding-bottom: 3px;
  color: var(--color-black);
}

.fa-exclamation-circle,
.more {
  color: var(--color-blue);
}

#note:hover {
  text-decoration: underline;
}

.more:hover {
  text-decoration: underline;
}

.manage {
  margin: auto;
}

.con {
  border: none;
}

.manage-reserv {
  background-color: var(--color-blue);
  color: var(--color-white);
  width: 200px;
  height: 32px;
}

.manage-reserv:hover {
  background-color: #134e8c;
  transition: 0.3s;
}

.remove-btn {
  background-color: transparent;
  font-size: 20px;
  color: var(--color-black);
}

.header {
  background-color: var(--color-black-header);
  color: var(--color-white);
  height: var(--height-header);
}

.header-left {
  display: flex;
  align-items: center;
}

.font {
  font-size: 25px;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: var(--height-logo);
}

a {
  color: var(--color-gray);
  text-decoration: none;
}
.whiteunder:hover {
  text-decoration: underline;
  color: var(--color-white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: var(--padding);
  color: var(--color-gray);
}

.a {
  padding-left: var(--padding-header);
  color: var(--color-gray);
  text-decoration: none;
}
.a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-white);
}

.dropdown {
  border: none;
  background-color: var(--color-black--header);
  font-size: 10px;
  outline: none;
}
.dropdownlist {
  background-color: white;
  position: absolute;
  width: 160px;
  font-size: 20px;
  z-index: 2;
}
hr {
  width: 140px;
}
li {
  display: block;
}
ul {
  padding: 0 10px;
}
.login {
  width: 200px;
}
hr {
  width: 100%;
}
.signin-dropdown {
  padding: 0 10px;
}
.signin-header {
  text-align: center;
}
.signin-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signinbtn, .joinbtn {
    width: 90%;
    height: 30px;
   
}
.signinbtn {
    color: white;
    background-color: #0172cd;
    border: none;
}
.signinbtn:hover {
    background-color: #134e8c;
}
.joinbtn {
    margin-top: 5px;
    background-color: white;
    color: #0172cd;
    border-color:  #0172cd;
}
.row-a {
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-small);
  padding-bottom: 20px;
}

.fa-globe,
.fa-user {
  padding-right: 15px;
}

.fa-caret-down {
  padding-left: 15px;
}

.vline {
  padding: 0 15px;
}

.vertical {
  border-left: 1px solid white;
  height: 80px;
  padding-left: 3px;
}

@media screen and (max-width: 960px) {
  .container {
    width: 90vw;
    height: 165px;
  }
  .header {
    height: 10vh;
  }
  .font {
    visibility: visible;
  }
  .row-b {
    display: none;
  }
  .date,
  .findBtn {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .notice,
  .manage,
  #text,
  .globe {
    display: none;
  }
  .container {
    height: 25px;
  }
  .contents {
    width: 430px;
  }
  .note {
    padding-right: 0px;
  }
  .header {
    height: 73px;
  }
  .header-left {
    padding-left: 5px;
  }
  .header-right {
    padding-top: 20px;
  }
  .a {
    font-size: 20px;
  }
  .fa-globe,
  .fa-user {
    padding-right: 0px;
  }
}
